<!DOCTYPE html>
<html>
<head>
  <title>Usarcms</title>
  <%= stylesheet_link_tag    "usarcms/application", media: "all" %>
  <%= javascript_include_tag "usarcms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
